$title-font: 'Loster', cursive; 
$body-font: 'Roboto', sans-serif; 
$primary-color: #008080;
$secondary-color: #64646E;
$text-color: #34343a;
$gray-color:#9e9ea4;
$backgrund-color: #e1e1e9;
$border-color:#c2c2c6;
$success-color:#0dc729;
$danger-color:#cd2424;