@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  background-color: #f6f8fa;
  font-family: 'Roboto', sans-serif;
}

.align_center{
  display: flex;
  align-items: center;
  
}
.align_center1{
 text-align: center;
}

.boximage:hover{
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    5px 5px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         5px 5px 5px rgba(50, 50, 50, 0.75);
}

button{
  width: 100px;
  border-radius: 10px;
}

button:hover{
  color: orange;
}
.boximage{
  transition: all 1s ease;
}


