
.catology{
    display: flex;
    align-items: center;
    justify-content: center;
    //justify-content: space-between;
    padding: 0 30px;
    background-color: #fff;
    list-style: none;
}

.wrapper_slideshow{
    width: 1300px;
    margin: auto;
}

